.burger-menu {
  width: 37px;
  height: 100%;
  cursor: pointer;
  // reset button formatting
  background: transparent;
  border: none;
}

.burger-menu span {
  display: block;
  width: 37px;
  height: 3px;
  background: $black;
}

.burger-menu span:nth-of-type(2) {
  margin: 7px 0;
}
