.burger-menu {
  width: 50px;
  height: 100%;
  cursor: pointer;
  // reset button formatting
  background: transparent;
  border: none;
}

.burger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background: $black;
}

.burger-menu span:nth-of-type(2) {
  margin: 9px 0;
}
