html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $grey-light;
}

.title-container {
  display: flex;
  align-items: flex-start;
}

.section__heading {
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
}
