.footer {
  background: $black;
  color: $white;
  padding-bottom: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: $breakpoint-desktop;
    margin: 0 auto;
    padding: 0 $gap-mobile;
    @media screen and (min-width: $breakpoint-tablet) {
      padding: 40px $gap-tablet 0;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__image-container {
    display: grid;
    place-items: center;
    padding: 50px 0;
  }

  &__image {
    width: 35vw;
    max-width: 195px;
  }
}

.list {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;

  & li > a:hover {
    color: $green;
  }

  &__main,
  &__sub {
    list-style-type: none;
  }

  &__main {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    flex: 1;
  }

  &__sub {
    font-size: 1.125rem;
  }
}
