.landing {
  padding: 40px $gap-mobile 0;
  overflow: hidden;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 85vh;
    max-height: 500px;
    justify-content: space-between;
  }

  &__header {
    line-height: 1.2;
    margin-bottom: 8px;

    span {
      display: block;
    }
  }

  &__intro-text {
    line-height: 1.4;
    margin-bottom: 20px;
    max-width: 70%;
  }

  &__image-outlinebox {
    align-self: flex-end;
    justify-self: flex-end;
    // max-width: 320px;
    width: 90vw;
    outline: 5px solid $black;
    transform: translate(8%, 0%) scale(0.8);
  }

  &__image {
    width: 100%;
    display: flex;
    transform: translate(0%, 4%) scale(1.2);
  }
}
