.process {
  padding: 40px 0;

  &__title {
    margin: 0 $gap-mobile 30px;
  }

  &__card {
    background: $white;
    padding: 20px $gap-mobile;
    margin-bottom: 20px;
  }

  &__subheading {
    margin-bottom: 15px;
  }

  &__list {
    list-style: square;
    padding-left: 1.2rem;
    & li {
      margin-bottom: 1rem;
    }
  }
}
