@mixin showreel-bg($url, $position, $bg-size) {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url($url) no-repeat;
  background-position: $position;
  background-size: $bg-size;
}
